Makefile*
*.so
*.so.*
*.mocs
*.objs
*.moc
*.obj
*.DS_Store
*.pro.user*
*.app
*.dylib
*.framework
qrc_*
*.o
*.plist
moc_*
*.xcodeproj
.qmake.stash
*.Debug
*.Release
Thumbs.db
*.exe
*~
bin/
doc/build
*.qm
qscintilla_*.ts
*.rc
_build
