[submodule "src/plugins/gingagui-all"]
	path = src/plugins/gingagui-all
	url = https://github.com/TeleMidia/gingagui.git
	branch = master
[submodule "src/gui/QSimpleUpdater"]
	path = src/gui/QSimpleUpdater
	url = https://github.com/alex-spataru/QSimpleUpdater.git
